$color-hex: black;

$c: (
  #612E8D, // purple
  #1674BC, // blue
  #00A396, // turquoise
  #81C540, // green
  #F5B52E, // yellow
  #ED5B35, // orange
  #EA225E, // red
  #C22286, // pink
);
$s: 10px;
$n: 32;
$t: 1s;
